@page
@model IndexModel
@{
    ViewData["Title"] = "Dino-Diner";
}

<h1>Welcome to Dino-Diner!</h1>

<img src="~/DinoDiner-32.png">

<a asp-page="/Menu">Menu</a>
<a asp-page="/About">About</a>
<a asp-page="/Privacy">Privacy</a>
